<!-- Device Setup Section -->

    <section id="services" class="bg-darkest-gray">
      <button onclick="history.back()">Go Back</button>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">
                            Device Setup Services
                          </h2>
                </div>

                <div>
                  <h3 class="service-heading">
                    <ul>
                    <li>Operating system installation</li>
                    <li>CPU/processor installation</li>
                    <li>Memory installation</li>
                    <li>CD/DVD/media drive installation</li>
                    <li>PCI/PCI-E card installation</li>
                    <li>Hard drive installation</li>
                    <li>Power supply installation</li>
                    <li>Peripheral installation</li>
                    <li>Motherboard installation</li>
                    <li>Software installation, per program</li>
                    <li>Driver installation</li>
                    </ul>
                  </h3>
                </div>
            </div>

    </section>
