<!-- Device Setup Section -->

    <section id="services" class="bg-darkest-gray">
      <button onclick="history.back()">Go Back</button>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">
                            Device Setup Services
                          </h2>
                </div>

                <div>
                  <h3 class="service-heading">
                    <ul>
                    <li><a>Operating system installation</a></li>
                    <li><a>CPU/processor installation</a></li>
                    <li><a>Memory installation</a></li>
                    <li><a>CD/DVD/media drive installation</a></li>
                    <li><a>PCI/PCI-E card installation</a></li>
                    <li><a>Hard drive installation</a></li>
                    <li><a>Power supply installation</a></li>
                    <li><a>Peripheral installation</a></li>
                    <li><a>Motherboard installation</a></li>
                    <li><a>Software installation, per program</a></li>
                    <li><a>Driver installation</a></li>
                    </ul>
                  </h3>
                </div>
            </div>

    </section>
