<!-- Remote Support Section -->

<section id="remote" class="bg-darkest-gray">
     <div class="container">
        <div class="row">
             <div class="col-lg-9">
                <h2 class="section-heading">
                        Remote Services Setup
                      </h2>
                    </div>
                </div>

            <div>

<a href="https://rustdesk.com" target="_blank"> Go to https://rustdesk.com  </a><br>
<br>
<a>Click the download button<a> <br>
<br>
<a>Use the dropdown arrow next to the file name at the bottom of the browser<a><br>
<a>Or<a><br>
<a>Bring up the File Browser and click Downloads<a><br>
<br>
<a>Right click on the rustdesk zipped file and select extract<a><br>
<br>
<a>Navigate into the rustdesk folder and double click rustdesk.exe<a><br>
<br>
<a>Click Yes or OK to any promts for admin access<a><br>
<br>
<a>Follow the instructions to install Rust Desk<a><br>
<br>
<a>Start RustDesk by clicking the icon on your desktop</a><br>
<br>
<a>Click the menu button that looks like three dots </a><br>
<img src="../img/logos/rd_id1.png" alt=""><br>
<p></p>
<br>
<a>Enter rustdesk.bantatechnologies.com in the ID textbox</a><br>
<img src="../img/logos/rd_id2.png" alt=""><br>

        </div>
    </div>

</section>
